* {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  color: #f6c;
  font-size: 1.4em;
  font-style: italic;
 }

p {
  margin: 2em auto;
  text-align: center;
  font-weight: bold;
}